{% extends 'layout.html' %}

{% block content %}
<div class="index" align="center">
  <!-- <img src="{{ url_for('static', filename='main_title.jpg') }}"/> -->
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4"><b>먹방짤 저장소</b></h1>
      <br>
      <h3 class="middle">**** 공 지 ****<br>매 주 다른 주제의 먹방영상이 업로드됩니다.</h3>
      <p class="middle">
        <!-- <b>6월 첫 째주 먹DJ : 이영자</b><br>
            <b>6월 둘 째주 먹DJ : 돈스파이크</b><br> -->
        6월 셋 째주 먹방DJ : <b>입짧은햇님<b><br>
            <!-- <b>6월 넷 째주 먹DJ : 맛있는 녀석들</b><br> -->

      </p>
      <br>
      <p class="middle">
        한정서<br>
        GitHup : <a href="https://github.com/Jeongseo21">https://github.com/Jeongseo21</a><br>
        개발일지 : <a href="https://velog.io/@mongle">https://velog.io/@mongle</a><br>
        블로그 : <a href="https://blog.naver.com/hjs0539">https://blog.naver.com/hjs0539</a>
        
      </p>

    </div>
  </div>
</div>
{% endblock %}