{% extends 'layout.html' %}
 
{% block content %}
<div align="center">
    <!-- <img src="{{ url_for('static', filename='main_title.jpg') }}"/> -->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">My Restaurant</h1>
          <p class="lead">가고싶은 식당을 저장해두고 필요할 때 영상과 함께 꺼내볼 수 있습니다.</p>
          <hr><br><br>
          <p class="lead">
            <button type="button" class="btn btn-outline-primary">먹방보러가기</button>
            <button type="button" class="btn btn-outline-primary">내 보관함</button>
          </p>
        </div>
      </div>
    <div>
        <p>한정서</p>
        <p>
            DAY/ 날짜/ 구현할 기능 --> 필요한 공부
        </p>
        <p>
            Day1/ 2020-06-08 10:43pm/ header 메뉴 만들기,html 구조 만들기 --> flask를 이용한 html 상속기능
        </p>
        <p>
            Day2/ 2020-06-10 5:00pm/ 유튜브api로 영상 제목 크롤링해오기 --> 유튜브api
        </p>
    </div>
</div>
{% endblock %}

