<!DOCTYPE HTML>
<html lang="kr">
  <head>
    <meta charset="utf-8">
    <!-- Webpage Title -->
    <title>한정서_먹방여기다있다</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		
		<!-- JS -->		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Dangole</title>
    <script>
      $(document).ready(function() {
        // index.html 로드가 완료되면 자동으로 show_star() 함수를 호출합니다.
        show_videos();
      });
      function toList(){
        location.href="/list"
      }
      function toMypage(){
        location.href="/mypage"
      }
      
      function show_videos(){
        // 1. #star_box의 내부 html 태그를 모두 삭제합니다.
        $('#video-box').empty()
      
        // 2. 서버에 1) GET 방식으로, 2) /api/list 라는 주소로 star_list를 요청합니다.
        $.ajax({
            type: "GET",
            url: "/list/getVideo",
            data: {},
            success: function (response) {
                // 3. 서버가 돌려준 star_list를 star라는 변수에 저장합니다.
                let videos = response['videos_list']
                // 4. for 문을 활용하여 star 배열의 요소를 차례대로 조회합니다.
                for (let i = 0; i < videos.length; i+=3) {
                    let video1 = videos[i]
                    let video2 = videos[i+1]
                    let video3 = videos[i+2]
                    // 5. star[i] 요소의 name, url, img_url, recent, like 키 값을 활용하여 값을 조회합니다.
                    let title1 = video1['title']
                    let desc1 = video1['desc']
                    let img_url1 = video1['img_url']
                    let channelTitle1 = video1['channelTitle']
                    let publishTime1= video1['publishTime']

                    let title2 = video2['title']
                    let desc2 = video2['desc']
                    let img_url2 = video2['img_url']
                    let channelTitle2 = video2['channelTitle']
                    let publishTime2= video2['publishTime']

                    let title3 = video3['title']
                    let desc3 = video3['desc']
                    let img_url3 = video3['img_url']
                    let channelTitle3 = video3['channelTitle']
                    let publishTime3 = video3['publishTime']
      
                    // 6. 영화인 카드를 만듭니다.
                    let temp_html = ` <div class="card-deck">
                                      <div class="card">
                                      <img class="card-img-top" src="${img_url1}" alt="Card image cap">
                                      <div class="card-body">
                                        <h5 class="card-title">${title1}</h5>
                                        <p class="card-text">${desc1}</p>
                                        <p class="card-text"><small class="text-muted">${channelTitle1}</small></p>
                                        <p class="card-text"><small class="text-muted">${publishTime1}</small></p>
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">보관함에 저장</button>
                                      </div>
                                    </div>
                                    <div class="card">
                                      <img class="card-img-top" src="${img_url2}" alt="Card image cap">
                                      <div class="card-body">
                                        <h5 class="card-title">${title2}</h5>
                                        <p class="card-text">${desc2}</p>
                                        <p class="card-text"><small class="text-muted">${channelTitle2}</small></p>
                                        <p class="card-text"><small class="text-muted">${publishTime2}</small></p>
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">보관함에 저장</button>
                                      </div>
                                    </div>
                                    <div class="card">
                                      <img class="card-img-top" src="${img_url3}" alt="Card image cap">
                                      <div class="card-body">
                                        <h5 class="card-title">${title3}</h5>
                                        <p class="card-text">${desc3}</p>
                                        <p class="card-text"><small class="text-muted">${channelTitle3}</small></p>
                                        <p class="card-text"><small class="text-muted">${publishTime3}</small></p>
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">보관함에 저장</button>
                                      </div>
                                    </div>
                                    </div>`
      
                    // 7. #star-box에 temp_html을 붙입니다.
                    $('#video-box').append(temp_html)
                }
            }
        });
      }
    </script>
    <style>
      .card-deck{
        width: 1100px;
        margin:auto;
      }
      .carousel{
        width:  400px;
        margin:auto;
      }
      .row{
        width:1100px;
        margin:auto;
      }
    </style>
  </head>
 
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand" href="/">MyRestaurant</a>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/list">Videos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/mypage">Mypage</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.youtube.com">Youtube</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
      <hr>
    </header>
    
 
    <main role="main">
    <!-- Main content block -->
    {% block content %}{% endblock %}
    </main>
  </body>
</html>