{% extends 'layout.html' %}
 
{% block content %}
<div>
    <!-- <img src="{{ url_for('static', filename='list.jpg') }}"/> -->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">먹방 영상 여기 다 있다!!</h1>
          <p class="lead">맘에 드는 식당을 찾으셨나요? 내 보관함에 저장해보세요</p>
          <p class="lead">
            <button type="button" class="btn btn-outline-primary">내 보관함 가기</button>
          </p>
        </div>
      </div>
      
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="https://i.ytimg.com/vi/MZCohV5ZNus/mqdefault.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">이영자】 제육볶음과 부대찌개까지 이영자와 제자들의 네버엔딩 먹방 | 전참시 | TVPP</h5>
            <p class="card-text">lee young ja mukbang #이영자 #TVPP #전참시.</p>
            <p class="card-text"><small class="text-muted">TV-People</small></p>
            <p class="card-text"><small class="text-muted">2020-05-26</small></p>
          </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="https://i.ytimg.com/vi/MZCohV5ZNus/mqdefault.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">이영자】 제육볶음과 부대찌개까지 이영자와 제자들의 네버엔딩 먹방 | 전참시 | TVPP</h5>
              <p class="card-text">lee young ja mukbang #이영자 #TVPP #전참시.</p>
              <p class="card-text"><small class="text-muted">TV-People</small></p>
              <p class="card-text"><small class="text-muted">2020-05-26</small></p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://i.ytimg.com/vi/MZCohV5ZNus/mqdefault.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">이영자】 제육볶음과 부대찌개까지 이영자와 제자들의 네버엔딩 먹방 | 전참시 | TVPP</h5>
              <p class="card-text">lee young ja mukbang #이영자 #TVPP #전참시.</p>
              <p class="card-text"><small class="text-muted">TV-People</small></p>
              <p class="card-text"><small class="text-muted">2020-05-26</small></p>
            </div>
          </div>
      </div>
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="https://i.ytimg.com/vi/MZCohV5ZNus/mqdefault.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">이영자】 제육볶음과 부대찌개까지 이영자와 제자들의 네버엔딩 먹방 | 전참시 | TVPP</h5>
            <p class="card-text">lee young ja mukbang #이영자 #TVPP #전참시.</p>
            <p class="card-text"><small class="text-muted">TV-People</small></p>
            <p class="card-text"><small class="text-muted">2020-05-26</small></p>
          </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="https://i.ytimg.com/vi/MZCohV5ZNus/mqdefault.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">이영자】 제육볶음과 부대찌개까지 이영자와 제자들의 네버엔딩 먹방 | 전참시 | TVPP</h5>
              <p class="card-text">lee young ja mukbang #이영자 #TVPP #전참시.</p>
              <p class="card-text"><small class="text-muted">TV-People</small></p>
              <p class="card-text"><small class="text-muted">2020-05-26</small></p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://i.ytimg.com/vi/MZCohV5ZNus/mqdefault.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">이영자】 제육볶음과 부대찌개까지 이영자와 제자들의 네버엔딩 먹방 | 전참시 | TVPP</h5>
              <p class="card-text">lee young ja mukbang #이영자 #TVPP #전참시.</p>
              <p class="card-text"><small class="text-muted">TV-People</small></p>
              <p class="card-text"><small class="text-muted">2020-05-26</small></p>
            </div>
          </div>
      </div>
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="https://i.ytimg.com/vi/MZCohV5ZNus/mqdefault.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">이영자】 제육볶음과 부대찌개까지 이영자와 제자들의 네버엔딩 먹방 | 전참시 | TVPP</h5>
            <p class="card-text">lee young ja mukbang #이영자 #TVPP #전참시.</p>
            <p class="card-text"><small class="text-muted">TV-People</small></p>
            <p class="card-text"><small class="text-muted">2020-05-26</small></p>
          </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="https://i.ytimg.com/vi/MZCohV5ZNus/mqdefault.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">이영자】 제육볶음과 부대찌개까지 이영자와 제자들의 네버엔딩 먹방 | 전참시 | TVPP</h5>
              <p class="card-text">lee young ja mukbang #이영자 #TVPP #전참시.</p>
              <p class="card-text"><small class="text-muted">TV-People</small></p>
              <p class="card-text"><small class="text-muted">2020-05-26</small></p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://i.ytimg.com/vi/MZCohV5ZNus/mqdefault.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">이영자】 제육볶음과 부대찌개까지 이영자와 제자들의 네버엔딩 먹방 | 전참시 | TVPP</h5>
              <p class="card-text">lee young ja mukbang #이영자 #TVPP #전참시.</p>
              <p class="card-text"><small class="text-muted">TV-People</small></p>
              <p class="card-text"><small class="text-muted">2020-05-26</small></p>
            </div>
          </div>
      </div>
     
</div>
<div>
    <p>
        
    </p>
</div>
{% endblock %}