<html lang="en">

<head>
  <!-- style.css 파일을 같은 폴더에 만들고, head 태그에서 불러오기 -->
  <link rel="stylesheet" type="text/css" href="/static/shopping.css">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <!-- Ajax import-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <title>1주차_숙제_한정서</title>

  <link
    href="https://fonts.googleapis.com/css2?family=Hi+Melody&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
    rel="stylesheet">

  <script>

$(document).ready(function () {
            $('#orders-box').html('');
            listing();
        });

      function order() {
      flag = false
      let name = $('#input_name').val();
      let count = $('#select_count').val();
      let addr = $('#input_addr').val();
      let phone = $('#input_phone').val();
      if (name == "") {
        alert("이름을 입력해주세요")
      } else if (count == "-- 수량을 선택하세요 --") {
        alert("수량을 입력해주세요")
        return
      } else if (addr == "") {
        alert("주소를 입력해주세요")
        return
      } else if (phone == "") {
        alert("전화번호를 입력해주세요")
        return
      } else {
        alert("주문정보 : " + name + " " + count + "개 " + addr + " " + phone)
        flag = true
      }

      if(flag){
        $.ajax({
                  type: 'POST', //타입작성
                  url: '/orders', //url작성
                  data: {name_give:name, count_give:count, addr_give:addr, phone_give:phone},
                  success: function(response){
                      if(response['result'] == 'success'){
                          alert(response['msg']);
                          window.location.reload(); //현재페이지 새로고침
                      }
                  }
              });
      }
    }
        
      function listing(){
            //1. 리뷰 목록을 서버에 요청
            //2. 요청 성공 여부 확인
            //3. 요청 성공했을 때, 리뷰를 올바르게 화면에 나타내기

            $.ajax({
                type:"GET",
                url:"/orders",
                data:{},
                success: function(response){
                    if(response['result'] == 'success'){
                        //요청에 성공했으면 list orders를 받아와
                        let orders = response['orders'];
                        //성공했을 때 리뷰를 올바르게 화면에 나타내기
                        for(let i = 0; i<orders.length; i++){
                            make_card(orders[i]['name'],orders[i]['count'],orders[i]['addr'],orders[i]['phone']);
                        }
                    }else{
                        alert('주문을 받아오지 못했습니다.');
                    }

                }
            });
        }

        function make_card(name, count, addr, phone){
            let temp_html = `<tr>
                                <td>${name}</td>
                                <td>${count}</td>
                                <td>${addr}</td>
                                <td>${phone}</td>
                            </tr>`;
            $('#orders-box').append(temp_html);
        }


    
    let num = 1;
    function exchangeRate() {
      if (num % 2 == 1) {
        $('#exchange').empty();
        $('#exchangeButton').text("닫기");
        $.ajax({
          type: "GET",
          url: "https://api.manana.kr/exchange/rate.json",
          data: {},
          success: function (response) {
            let exchaRate = response[1]["rate"];

            $('#exchange').append(`<li span style="color:blue">환율 : ${exchaRate}</li></span>`);
          }

        })
      } else {
        $('#exchange').empty();
        $('#exchangeButton').text("환율보기");
      }
      num++;

    }

    


  </script>

</head>

<body>
  <div class="wrap">
    <div class="picture">

    </div>
    <div class="product">
      <div class="product-title">
        <div class="price">
          <p>가격: 5,000원</p>
        </div>
        <div class="title">
          <h2>안국역 구름커피</h2>
        </div>

      </div>
    </div>

    <div class="product-text">
      <hr>
      <h6>2년 전 어느 여름날, 더위를 피해 들어간 안국역의 어느 2층 카페에서 인생커피를 만났죠.</h6>
      <h6>에스프레소와 크림의 조합은 언제나 옳아요.</h6>
      <hr>
      <button onclick="exchangeRate()" type="button" id="exchangeButton">환율보기</button>
      <u1 id="exchange">환율 정보를 제공합니다

      </u1>
    </div>
    <br>
    <div class="form-box" id="order-box">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">주문자 이름</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
          id="input_name">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">수량</label>
        </div>
        <select class="custom-select" id="select_count">
          <option selected>-- 수량을 선택하세요 --</option>
          <option value="1">one</option>
          <option value="2">two</option>
          <option value="3">three</option>
        </select>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">주소</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
          id="input_addr">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">전화번호</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
          id="input_phone">
      </div>
    </div>
    <div class="button" id="button-line">
      <button onclick="order()" type="button">주문하기</button>


    </div>

    <div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">이름</th>
            <th scope="col">수량</th>
            <th scope="col">주소</th>
            <th scope="col">전화번호</th>
          </tr>
        </thead>
        <tbody id="orders-box">
          <tr>
            <td>Tonie</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          
        </tbody>
      </table>
  
  
  
    </div>
  </div>

  


</body>